<!--<section class="head-content "> 
    <div class="row">
        <div class="col m4">
            <img ng-src={{profileImg}} style="display:inline-block;"class="responsive-img circle profile-img">
            <div class="name-badge">
                <h5 class="grey-text text-lighten-4">{{fullName}}</h5>
                <h5 class="grey-text text-lighten-4">{{schoolName}}</h5>
            </div>
        </div>
        <div class="col m3 push-m5">
            <button class="btn green" ng-click="logout()">Logout</button>   
        </div>
    </div>
    <nav class="head-nav"> 
        <a href="#/user" style="text-decoration: underline;">Dashboard</a> 
        <a href="#/profile">Profile</a>
    </nav>
</section>--> 


<div ng-controller="classCtrl">
    <div class="wrapper center-align">
        <h4>Select Your Classes</h4>   
            <!-- Modal Trigger -->
            <button data-target="subjects" class="btn modal-trigger orange darken-4">Choose A Subject</button>
            <br><br>
            <ul class="subjects">
                <li  class="subject-button" ng-repeat="class in classes" ng-click="addClass(class)">
                    {{class.abbr}}: {{class.name}}
                </li>
            </ul>
    </div> 
    
    <ul id="next-button" class="center-align">
            <li class="btn green">
                <a href="#/user" style="color: white">Next</a>
            </li>
    </ul> 

    <!-- Modal Structure -->
    <div id="subjects" class="modal bottom-sheet grey lighten-3">
        <div class="modal-content">
            <h4>Choose A Subject</h4>
            <ul class="subjects">
                <li class="subject-button" ng-repeat="course in courses" ng-click="populateClasses(course)">
                    {{ course.$id }}
                </li>
            </ul>
        </div>
        <div class="modal-footer grey lighten-3">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>
</div>
