<section class="head-content">
		</br>
</section>
</br>
<div class="center-align orange darken-4" style="position:fixed;width:100%;height:100%;top:0;overflow:auto;">

	<h2 class="white-text" style="margin-top: 70px;">Studie</h2>

	<img src="./images/globe.png" class="home-img">
	<img src="./images/textbooks.png" class="home-img">
	</br>
	<img src="./images/exam.png" class="home-img">
	<img src="./images/backpack.png" class="home-img">
	</br>
	<button class="btn-large z-depth-3 light-blue darken-3" style="margin-top:70px;" ng-click="login()">Login with Facebook</button>
</div>
</div>