<!--<section class="head-content ">	
	<div class="row">
		<div class="col m4">
			<img ng-src={{profileImg}} style="display:inline-block;"class="responsive-img circle profile-img">
			<div class="name-badge">
				<h5 class="grey-text text-lighten-4">{{fullName}}</h5>
				<h5 class="grey-text text-lighten-4">{{schoolName}}</h5>
			</div>
		</div>
		<div class="col m3 push-m5">
			<button class="btn green" ng-click="logout()">Logout</button>	
		</div>
	</div>
	<nav class="head-nav"> 
		<a href="#/user" style="text-decoration: underline;">Dashboard</a> 
		<a href="#/profile">Profile</a>
	</nav>
</section>-->

<div class="dashboard">
	<div class="dashboard-tile">
		<a href="#/classes">Add Classes</a>
	</div>
	<div class="dashboard-tile">
		<a href="#/groups">Your groups</a>
	</div>
	<div class="dashboard-tile">
		<a href="">Your profile</a>
	</div>
	<div class="dashboard-tile">
		<a href="">Recent activity</a>
	</div>
    	<div class="dashboard-tile">
		<a href="#/chat">Chat</a>
	</div>
</div>
